{{ define "main" }}
  <header class="post-header">
    <h1>{{ .Params.heading | default .Title }}</h1>
    {{ if .Content }}
      <div class="post-body">{{ .Content }}</div>
    {{ end }}
  </header>
  {{ with .Params.instagram_posts }}
    <div class="instagrams">
      {{ range . }}
        <blockquote class="instagram-media" data-instgrm-permalink="{{ .url }}" data-instgrm-version="14"></blockquote>
      {{ end }}
    </div>
    <script async src="//www.instagram.com/embed.js"></script>
  {{ end }}
{{ end }}
